{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
    <h1>Welcome</h1>

    <!-- link to the shop -->
    <a href="{{ path('app_shop') }}">Shop</a>

</div>
{% endblock %}
