{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<div class="container">
    <h1>Product Detailseite</h1>

    <p>Produktname: {{ product.name }}</p>
    <p>Produktbeschreibung: {{ product.description }}</p>
    <p>Produktpreis: {{ product.price }}</p>
    <!-- back button -->
    <a href="{{ path('app_shop') }}">Zurück</a>
</div>
{% endblock %}
