{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}


<div class="container">
    <h1>You are currently not logged in, please log in, or create an account:</h1>

    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <br>
    <br>

    {% include 'shop/editableShoppingCart.html.twig' %}


</div>
{% endblock %}
