{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}


<div class="container"> 
    <div class="shoppingcart"> 

        <h2>Ihr Warenkorb</h2>

        {# <div class="d-flex justify-content-between">
            <a class="btn btn-secondary" href="{{ path('app_shop') }}">&larr; Zurück zum Shop</a>
            <a class="btn btn-primary" href="{{ path('app_shop_deliveryaddress') }}">Zur Adresseingabe &rarr;</a>
        </div> #}
        <br>

        {% include 'shop/editableShoppingCart.html.twig' %}

        <div class="d-flex justify-content-between">
            <a class="btn btn-secondary" href="{{ path('app_shop') }}">&larr; Zurück zum Shop</a>
            <a class="btn btn-primary" href="{{ path('app_shop_deliveryaddress') }}">Zur Adresseingabe &rarr;</a>
        </div>
    </div>
</div>
{% endblock %}
