{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}


<div class="container"> 
    <div class="app_shop_shoppingcart"> 

        <h1>ShoppingCart</h1>

        {% include 'shop/editableShoppingCart.html.twig' %}

        <a href="{{ path('app_shop_deliveryaddress') }}">Zur Adresseingabe</a>

    </div>
</div>
{% endblock %}
